<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <i class="fa fa-film" ></i> Vidly</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("New", "NewRental")">
                        <i class="fa fa-check"></i> New Rental
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Customers")">
                        <i class="fa fa-users"></i> Customers
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Movies")">
                        <i class="fa fa-video-camera"></i> Movies
                    </a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

