@using System.Web.UI.WebControls
@model Vidly.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-edit"></i> @Model.Title</h2>

@using (@Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Name)
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            @Html.TextBoxFor(m => m.Customers.Name, new { placeholder = "Customer Name", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customers.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customers.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Birthday)
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBoxFor(m => m.Customers.Birthday, "{0:d MMM yyyy}", new { placeholder = "Birth Date", @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.Customers.Birthday)
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.Customers.IsSubscribedToNewsletter) Subscribed To Newsletter?
    </div>
    @Html.HiddenFor(m => m.Customers.Id)
    @Html.AntiForgeryToken()
    <Button type="submit" class="btn btn-primary">
        <i class="fa fa-check-circle"></i> Save
    </Button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
